<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dam2.sixapp.cookin" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Cookin"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".GooglePlus"
            android:label="Cookin" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".drawer.MainDrawer"
            android:label="@string/title_activity_main_drawer" >
        </activity>
        <activity
            android:name=".swipeTabs.userMain.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".swipeTabs.userMain.Recetas"
            android:label="@string/recipes" >
        </activity>
        <activity
            android:name=".swipeTabs.userMain.filterTabsFragment.codeMain.ListaRecetas"
            android:label="@string/title_activity_main_drawer" >
        </activity>
        <activity
            android:name=".swipeTabs.userMain.filterTabsFragment.codeMain.TipoReceta"
            android:label="@string/title_activity_tipo_receta" >
        </activity>
    </application>

</manifest>
